<h5> < <%= @user.name %> > following</h5>

<ul class="list-group list-group-flush">
    <% @users.each do |user| %>
        <%= link_to(user, class:"btn") do %>
            <li class="list-group-item"><%= user.name %></li>
        <% end %>
    <% end %>
</ul>
