
<div class="home-header">
    <h1>TechBookCareer</h1>
    <h5>エンジニアのためのこれまでに読んできた技術書を共有するアプリケーション</h5>
</div>

<div class="home-login-button">
    <%= link_to "Googleでログイン", "/auth/google_oauth2", class: "btn btn-info btn-lg", method: :post %>
</div>

<div class="home-introduction">
    <h1>about this service</h1>
    <h5>
        エンジニアは新しい技術、幅広い技術を習得するためにキャッチアップを日頃から行う人が多い。
        現状、書籍による勉強も一般的である。

        このアプリケーションでは、これまでに読んできた技術書を共有することで、
        他のエンジニアがどの技術書で何を学んでいるかを知ることで、自身の今後の学習の参考にすることができる。
    </h5>


</div>