
<div class="container home-header">
    <h1>TechBookCareer</h1>
    <h5>エンジニアのためのこれまでに読んできた技術書を共有するアプリケーション</h5>
</div>
<div class="login-button">
    <%= link_to "Googleでログイン", "/auth/google_oauth2", class: "btn btn-secondary btn-lg", method: :post %>
</div>

