<div class="container">

    <div class="container home-header">
        <h1>BookShare</h1>
    </div>
    <div class="login-button">
        <%= link_to "Googleでログイン", "/auth/google_oauth2", class: "btn btn-secondary btn-lg", method: :post %>
    </div>
</div>