
<div class="home-header">
    <h1>TechBookCareer</h1>
    <h5>エンジニアのためのこれまでに読んできた技術書を共有するアプリケーション</h5>
</div>

<div class="home-login-button">
    <%= link_to "Googleでログイン", "/auth/google_oauth2", class: "btn btn-info btn-lg", method: :post %>
</div>

<div class="home-introduction">
    <h1>about this service</h1>
    <h5>
        このアプリケーションは、これまで読んできた技術書を他のエンジニアと共有することで、
        自分に足りない知識、今後勉強したい内容を発見することができます。
    </h5>


</div>