<h1>マイプロフィール<h2>


<h5>Email</h5> 
<%= current_user.email %>


<h5>User Name</h5>
<% if current_user.name == nil %>
name: null
<% end %>
<%= current_user.name %>

<h5>コメント</h5>


<%= link_to "ユーザー情報の変更", edit_user_path(id: current_user.id) %>