<div class="container">
    <h3>Search for a book</h3>
    <%= form_with url: searches_path, method: :get, local: true do |f| %>
        <div class="form-group">
            <%= f.label :keyword %>
            <%= f.text_field :keyword, class: "form-control" %>
        </div>
        <%= f.submit "search", class: "btn btn-outline-primary" %>
    <% end %>
</div>