<div class="post_welcome">
    <h1>Welcom to TechBookCareer</h1>

    <h3 class="post_welcome_elm">Create a new post ?</h3>

    <%= link_to "New Post", new_search_path, class:"btn btn-outline-secondary post_welcome_elm_sub" %>

    <h3 class="post_welcome_elm">Find other usrs ?</h3>

    <%= link_to "Find User", new_user_search_path, class:"btn btn-outline-secondary post_welcome_elm_sub" %>

    <%= link_to "Developer's Account (taigamur)" ,  user_path(id: 1), class:"btn btn-outline-secondary post_welcome_elm_sub" %>

</div>