<h1>followしている人全員の投稿</h1>

<% @posts.each do |post| %>
    <div class="post-each">
        <%= link_to(user_path(id: post.user_id), class:"btn") do %>
            <%= image_tag post.image_url %>
            <%= User.find(post.user_id).name %>
            <%= post.name %>
        <% end %>
    </div>
<% end %>