// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-form-pos{
    margin-top: 20px;
}

.option-btn{
    margin-top: 20px;
}

// #index
.post-index{
    width: 100%;
}

.post-each{
    border-top: solid 1px#C0C0C0	;
}

.post_time{
    opacity: 50%;
}

.prof_image_post_index{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    filter: drop-shadow(0 0 1px rgb(77, 71, 72));
    margin-bottom: 20px;
}
  
.post_prof_pos{
    margin: auto;
}

.post_index_pos{
    margin: auto;
}


// #show
.post_show{
    width: 100%;
}

.post_show_comment{
    padding-top: 30px;
    width: 100%;
}

.prof_image_post_show{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
    filter: drop-shadow(0 0 1px rgb(77, 71, 72)); 
}

.post_show_profile{
    text-align: center;
}

// _welcome
.post_welcome{
    text-align: center;
}
.post_welcome_elm{
    margin-top: 0.5em;
}
.post_welcome_elm_sub{
    margin-top: 0.2em;
}